.col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding#top-header
  .col-xs-12.col-sm-12.col-md-5.col-lg-5.no-padding.left-options
    - if render_buttons
      = render "shared/header/left_options"
  .col-md-2.col-lg-2.hidden-xs.hidden-sm.center-options.logo-container
    = render "shared/header/logo"
  .col-xs-12.col-sm-12.col-md-5.col-lg-5.no-padding.right_options
    - if render_buttons
      = render "shared/header/right_options"
    - else
      = link_to jewels_path, class: "btn btn-default cart-button full-sized-button with_action pull-right more-right-border col-xs-12 col-sm-12 col-md-4 col-lg-4", id: "cart-button", data: {popover_target: carts_target_class()} do
        %span.glyphicon.glyphicon-shopping-cart
    
  .col-xs-12.col-sm-12.hidden-md.hidden-lg.center-options.logo-container
    = render "shared/header/logo"
