.row.jewel-in-cart{class: "jewel-in-cart-#{jewel_id}"}
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    .jw-image.img-responsive-in-cart{style: "background-image: url('#{jewel['image_url']}');"}
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = jewel['name']
  .col-xs-3.col-sm-3.col-md-3.col-lg-3.quantity-container
    = jewel['quantity']
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    %span
      = link_to remove_jewel_from_cart_order_path(cart_order_id: @cart_order.id, jewel_id: jewel_id), remote: true do
        %i.fa.fa-trash
    %span
      = link_to add_jewel_to_cart_order_path(cart_order_id: @cart_order.id, jewel_id: jewel_id), remote: true do
        %i.fa.fa-plus