- if @quantity_only
  $(".jewel-in-cart-#{@jewel.id} .quantity-container").empty()
  $(".jewel-in-cart-#{@jewel.id} .quantity-container").html("#{@in_cart.quantity}")
  $(".jewel-in-cart-#{@jewel.id} .price-container").html("#{@in_cart.quantity * @jewel.price}")
- elsif @jewel.quantity > 0
  var new_cart_item = $("#{escape_javascript(render(partial: "cart_orders/jewel_in_cart", locals: {jewel: @jewel_in_cart_order, jewel_id: @jewel.id}))}");
  $("#list-of-jewels-in-cart-order h4").empty()
  $("#list-of-jewels-in-cart-order").append(new_cart_item)
  $("#list-of-jewels-in-cart-order .finish-order-button.hidden").removeClass("hidden")